html, body, div, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    position: relative;
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.left_page {
    flex: 0 0 45%;
    /* Bölümlerin genişliği */
    padding: 20px;
    background-color: #152837;
    border: 1px solid #ccc;
    /* Bölüm kenarlık rengi */
}

.right_page {
    flex: 0 0 48%;
    /* Bölümlerin genişliği */
    padding: 20px;
    background-color: #152837;
    border: 1px solid #ccc;
  
}


#image-area {
    width: 40%;
    height: 20rem;
    border: 8px solid #FFBD59;
    margin-left: 48px;
}

#image-area {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#image-area img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#person-title {

    width: 20rem;
    height: 8rem;
    margin-top: 5rem;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#name {
    max-width: 450px;
    color: #FFBD59;
    font: bold;
    font-size: 60px;
}
#surname {
    max-width: 500px;
    color: #fff;
    font: bold;
    font-size: 60px;
    
}

#job-title {
    background: #FFBD59;
    width: 80%;
    height: 50px;
    border-radius: 4px;
}
#title-name{
    max-width:100%;
    text-align: center;
    justify-content: center;
    padding: 12px;
}

#experiences {
    color:#fff;
  align-items: center;
   margin-top: 8rem;
   font-size: 18px;
   letter-spacing: 2px;
   display: flex;
   margin-right: 20px;

}



#experiences i {
    margin-right: 20px;
}

#date {
    background-color: #FFBD59;
    max-width: 250px;
    padding: 10px;
font-family: 'Times New Roman', Times, serif;
font-weight: 600;
}

#company-name {
    margin-top: 10px;
    color: #fff;
    display: inline-block;
    margin-left: 50px;

}

#job-type {
    margin-top: -10px;
}

ul {
    margin-top: 20px;
    margin-left: 20px;
    color: #fff;
}

ul li {
    font-size: 16px;
    margin-bottom: 10px
}

#language-title {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    


}

#language-icon {
    margin-right: 10px; 
   font-size: 24px;
   
}
#language-name i{
    color:#FFBD59
}


.profile {
    width: 100%;
    height: 300px;
    background-color: #FFBD59;
    border-radius: 6%;
    flex-direction: column;
}

#profile-detail {
    display: flex;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#profile-icon{
    margin-right: 10px;
    color:#152837
} 
#profile-detail h3{
    font-family: 'Times New Roman', Times, serif;
    color:#152837;
    letter-spacing: 2px;
}
.profile p{
margin: 10px;
max-width: 380px;
font-size: 16px;
font-family: 'Times New Roman', Times, serif;
color: #2b373b;
font-weight: 550;
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 45px;
    gap: 10px;
    color: #332a2a;
    font-family: 'Times New Roman', Times, serif;
}

.contact-item {
    display: flex;
    align-items: center;
    font-size: 16px; 

}
.contact-item i {
    margin-right: 10px;
    font-size: 20px;
    padding: 2px;
    margin-left: 20px;
}
.contact-item a{
    text-decoration: none;
    color: #fff;
    
}
#education{
    margin-top: 50px;
}
#education-title h3{
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
#language-name h4{
    color: #fff;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
#education-title {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
#school-name{
    color: #fff;
    font-size: 16px;
    margin-left: 18px;
    margin-top: 10px;
}
#department{
    
    font-size: 16px;
    margin-top: 10px;
}

#education-icon {
    margin-right: 10px; 
   font-size: 24px;
   
}
#language-name i{
    color:#FFBD59
}
#skills{
    margin-top: 40px;
}
#skills-title {  
     display: flex;
     color: #fff;
     font-family: 'Times New Roman', Times, serif;
font-weight: 600;
letter-spacing: 2px;
}
#skills-area i{
    margin-right : 15px;
}
#certificate-title {
  display: flex;
  
}
#certificate{
    margin-top: 40px;
}

#certificate-title h3{
color: #fff;
font-family: 'Times New Roman', Times, serif;
font-weight: 600;
letter-spacing: 2px;
}
#certificate-title i{
margin-right: 15px;
}
#certficate-name li{
    color: #fff;
}
#certificate-description p{
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 600;
letter-spacing: 2px;
}